{
  "Get-AzElasticMonitor+[NoContext]+List+$GET+https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/providers/Microsoft.Elastic/monitors?api-version=2023-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/providers/Microsoft.Elastic/monitors?api-version=2023-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "30" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "8966823c-0815-491f-83df-66a9e18ce3d6", "8029d60a-b069-42ca-8f78-2bea41745bcf", "b563c6da-6391-43c5-9211-e5b751dfdb06", "2e556947-54ba-4370-ad0f-21cc26e2bc71", "d94b7fc4-b107-4313-a7f2-ee2b795cbc47", "9bf82a6a-09c9-4706-97ce-12d3bb54e8b0", "c580e3af-0365-4774-a430-bc24199ef5e3", "70376e9c-46fc-4a1c-8693-ff4cf8d08f7a", "86ec18be-60f6-4715-abbd-4931ead401d7", "bddaea67-e293-4121-b3b0-00a180cc2422", "0deb0fbd-a52c-4dc4-9390-8b97e0a55725", "282979c7-4782-4ff3-9028-6d3936b2c181", "2c803a91-5dbe-420b-a979-b5d507829d1f", "622cea5c-369b-4c88-8f47-b1f20b3d9407", "5782809e-1140-40a4-a315-dfdffe1de02b", "d0fac51b-7307-481c-bb7e-11c20b7352d1", "526d1717-3eb7-4748-b140-72babdef767c", "a57145bd-c043-4530-9d0b-80fd369e4ba4" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/utkarshjain-rg/providers/Microsoft.Elastic/monitors/west2222\",\"name\":\"west2222\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-monthly-consumption_Monthly@TIDhjdtn7tfnxcy\"},\"location\":\"westus2\",\"tags\":{\"PolicyTest\":\"Demo\"},\"systemData\":{\"createdBy\":\"utkarshjain@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-05-08T10:51:27.1681657Z\",\"lastModifiedBy\":\"utkarshjain@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-05-08T10:51:27.1681657Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"monitoringStatus\":\"Enabled\",\"elasticProperties\":{\"elasticCloudUser\":{\"emailAddress\":\"utkarshjain@microsoft.com\",\"id\":\"1950562850\",\"elasticCloudSsoDefaultUrl\":\"https://cloud.elastic.co\"},\"elasticCloudDeployment\":{\"name\":\"west2222\",\"deploymentId\":\"c29f142a8096497e0d0e0eef24ccb432\",\"azureSubscriptionId\":\"cff37b56-870a-448f-a2fb-1a89235d4d32\",\"elasticsearchRegion\":\"azure-westus2\",\"elasticsearchServiceUrl\":\"https://cf65091510564654befb385cdf0ba879.westus2.azure.elastic-cloud.com\",\"kibanaServiceUrl\":\"https://487afe673bd0403fab0f28c7ae3e1abf.westus2.azure.elastic-cloud.com:9243\",\"kibanaSsoUrl\":\"/sso/v1/go/ec:1950562850:kibana-west2222?acs=https://west2222.kb.westus2.azure.elastic-cloud.com:9243/api/security/saml/callback\u0026sp_login_url=https://west2222.kb.westus2.azure.elastic-cloud.com:9243\"}},\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0,\"generateApiKey\":false}},{\"id\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/utkarshjain-rg/providers/Microsoft.Elastic/monitors/gottest\",\"name\":\"gottest\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-monthly-consumption_Monthly@TIDhjdtn7tfnxcy\"},\"location\":\"West us 2\",\"tags\":{\"PolicyTest\":\"Demo\"},\"systemData\":{\"createdBy\":\"rheahooda@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-05-18T10:00:39.9839116Z\",\"lastModifiedBy\":\"rheaho[...]
