{
  "New-AzElasticMonitor+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-9c7j8w?api-version=2023-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-9c7j8w?api-version=2023-06-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"ess-monthly-consumption_Monthly\"\r\n  },\r\n  \"properties\": {\r\n    \"userInfo\": {\r\n      \"emailAddress\": \"vidai@microsoft.com\"\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"9f01e09f-0000-0100-0000-64acffe20000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "671978a1-6a60-4c77-8481-f78d14e0dfbb" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8ac6cecd-74c9-48c0-a4ed-af7cc88ecb5a*140B11E740A81CA75C974BD6CF6E9E93A29828484B09C0A549C312B763A0A61B?api-version=2023-06-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-9c7j8w\",\"name\":\"elastic-9c7j8w\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-monthly-consumption_Monthly\"},\"location\":\"eastus\",\"tags\":{\"PolicyTest\":\"Demo\"},\"systemData\":{\"createdBy\":\"vidai@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-11T07:08:14.520867Z\",\"lastModifiedBy\":\"vidai@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-07-11T07:08:14.520867Z\"},\"properties\":{\"userInfo\":{\"emailAddress\":\"vidai@microsoft.com\"},\"provisioningState\":\"Accepted\"}}",
    }
  },
  "New-AzElasticMonitor+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8ac6cecd-74c9-48c0-a4ed-af7cc88ecb5a*140B11E740A81CA75C974BD6CF6E9E93A29828484B09C0A549C312B763A0A61B?api-version=2023-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8ac6cecd-74c9-48c0-a4ed-af7cc88ecb5a*140B11E740A81CA75C974BD6CF6E9E93A29828484B09C0A549C312B763A0A61B?api-version=2023-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "39" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"93098cb0-0000-0100-0000-64acffe20000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11981" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8ac6cecd-74c9-48c0-a4ed-af7cc88ecb5a*140B11E740A81CA75C974BD6CF6E9E93A29828484B09C0A549C312B763A0A61B\",\"name\":\"8ac6cecd-74c9-48c0-a4ed-af7cc88ecb5a*140B11E740A81CA75C974BD6CF6E9E93A29828484B09C0A549C312B763A0A61B\",\"resourceId\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-9c7j8w\",\"status\":\"Accepted\",\"startTime\":\"2023-07-11T07:08:18.2664035Z\"}",
    }
  },
  "New-AzElasticMonitor+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8ac6cecd-74c9-48c0-a4ed-af7cc88ecb5a*140B11E740A81CA75C974BD6CF6E9E93A29828484B09C0A549C312B763A0A61B?api-version=2023-06-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/8ac6cecd-74c9-48c0-a4[...]
