{
  "Remove-AzElasticMonitor+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-mhuyzj?api-version=2023-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-mhuyzj?api-version=2023-06-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"ess-monthly-consumption_Monthly\"\r\n  },\r\n  \"properties\": {\r\n    \"userInfo\": {\r\n      \"emailAddress\": \"vidai@microsoft.com\"\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"9f01f2c0-0000-0100-0000-64ad019d0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1193" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "b27015d1-ab3a-4dc1-ad79-8e9ad119efc0" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/c25f4ee0-3b9d-4923-9c92-6197ba25958a*72A182839EB066460E1BB7DFFFFF6E33A6A1FEC7CA4DD62764C95E6EE4B475FB?api-version=2023-06-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-mhuyzj\",\"name\":\"elastic-mhuyzj\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-monthly-consumption_Monthly\"},\"location\":\"eastus\",\"tags\":{\"PolicyTest\":\"Demo\"},\"systemData\":{\"createdBy\":\"vidai@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-11T07:15:35.8970048Z\",\"lastModifiedBy\":\"vidai@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-07-11T07:15:35.8970048Z\"},\"properties\":{\"userInfo\":{\"emailAddress\":\"vidai@microsoft.com\"},\"provisioningState\":\"Accepted\"}}",
    }
  },
  "Remove-AzElasticMonitor+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/c25f4ee0-3b9d-4923-9c92-6197ba25958a*72A182839EB066460E1BB7DFFFFF6E33A6A1FEC7CA4DD62764C95E6EE4B475FB?api-version=2023-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/c25f4ee0-3b9d-4923-9c92-6197ba25958a*72A182839EB066460E1BB7DFFFFF6E33A6A1FEC7CA4DD62764C95E6EE4B475FB?api-version=2023-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "56" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"94092709-0000-0100-0000-64ad019d0000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11967" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/c25f4ee0-3b9d-4923-9c92-6197ba25958a*72A182839EB066460E1BB7DFFFFF6E33A6A1FEC7CA4DD62764C95E6EE4B475FB\",\"name\":\"c25f4ee0-3b9d-4923-9c92-6197ba25958a*72A182839EB066460E1BB7DFFFFF6E33A6A1FEC7CA4DD62764C95E6EE4B475FB\",\"resourceId\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-phb54j/providers/Microsoft.Elastic/monitors/elastic-mhuyzj\",\"status\":\"Accepted\",\"startTime\":\"2023-07-11T07:15:41.2947201Z\"}",
    }
  },
  "Remove-AzElasticMonitor+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/c25f4ee0-3b9d-4923-9c92-6197ba25958a*72A182839EB066460E1BB7DFFFFF6E33A6A1FEC7CA4DD62764C95E6EE4B475FB?api-version=2023-06-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Elastic/locations/EASTUS/operationStatuses/c25f4ee0-3b9d-4923-9c92-61[...]
